.cards {
    display: flex;
    padding: 24px 0;
    align-items: flex-start;
    align-content: flex-start;
    gap: 32px;
    flex: 1 0 0;
    flex-wrap: wrap;
  }
  
  /* Card styles */
  
  .card {
    max-width: 376px;
    min-height: 210px;
    border-radius: 8px;
    padding: 20px 24px 24px 24px;
    border: 1px solid var(--ifm-navbar-border);
    background-color: var(--ifm-navbar-background-color);
  }

  .icon {
    width: 2rem; 
    height: 2rem;
  }

  
  .title {
    font-size: 1rem;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 16px;
  }
  
  .body {
    color: var(--text-primary);
    font-size: 0.85rem;
    line-height: 160%;
    letter-spacing: 0.28px;
  }
  [data-theme="dark"] .body {
    color: #e3e3e3
  }
  
  .readMore {
      font-family: 'DM Mono', monospace;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-top: 24px;
    text-decoration: none !important;
    display: inline-block
  }
  
  /* Card small styles */
  
  .cardSmall {
    width: 300px;
    height: 125px;
    border-radius: 8px;
    padding: 20px 24px 24px 24px;
    border: 1px solid var(--ifm-navbar-border);
    background-color: var(--ifm-navbar-background-color);
    overflow: hidden;
  }

  .header {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .iconSmall {
    width: 1.6rem; 
    height: auto;
  }
  
  .cardSmallLink {
    text-decoration: none !important;
  }
  
  .titleSmall {
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 16px;
    white-space: nowrap;
  }
  
  
  .bodySmall {
    color: var(--text-primary);
    font: var(--ifm-font-size-base) / var(--ifm-line-height-base) var(--ifm-font-family-base);
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 1.1px;
    margin-top: 10px;
  }
  [data-theme="dark"] .bodySmall {
    color: #e3e3e3
  }